/node_modules/
#/tests/e2e/
/packages/
/app/emoji-emojione/generateEmojiIndex.js
/public/
/private/moment-locales/
/imports/
/foss/server/services/dist/
!/.mocharc.js
!/.mocharc.*.js
!/.scripts/
!/.storybook/
!/client/.eslintrc.js
!/foss/client/.eslintrc.js
/storybook-static/
/packages/
